$mainColor: #ff0000;

.tapTransition-enter {
  opacity: 0;
}

.tapTransition-enter-active {
  opacity: 1;
  transition: all 2000ms;
}

.red {
  color: $mainColor;
}

@mixin alertToast() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.detailAlert {
  @include alertToast();
}

.detailAlert-yellow {
  @extend .detailAlert;
  background-color: #ffe591;
}

.detailAlert p {
  margin-bottom: 0px;
}
